:root {
    --clr-primary: rgb(54, 112, 199);
    --clr-light: #f4f4f4;
    --clr-dark: #333;
    --clr-warning: rgb(99, 36, 36);
  }
  
  *,
  *::before,
  *::after {
    font-family: inherit;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--clr-primary);
    color: var(--clr-light);
    display: grid;
    grid: repeat(1fr);
  }
  
  .title {
    text-align: center;
    font-size: calc(5vw + 1rem);
    font-weight: 800;
    color: var(--clr-light);
    letter-spacing: 2px;
    margin: 0.2em 0 0.5em;
  }

  form  {
    display: flex;
    justify-content: center;
    --spacer: 2rem;
    background: var(--clr-primary);
    color: var(--clr-dark);
  }

  input {
    border-radius: 0.5rem;
    padding: .5rem;
    font-size: 1.2rem;
    margin-right: 15px;
  }

  input:focus {
    outline: 0;
    border-color: var(--clr-light);
    box-shadow: 0 2px 4px 0 #999;
  }
  
  .btn {
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    background-color: var(--clr-light);
  }
  
  button[type="submit"]:hover, button[type="submit"]:focus {
    background-color: lightgrey;
  }
