:root {
    --clr-primary: rgb(54, 112, 199);
    --clr-light: #f4f4f4;
    --clr-dark: #333;
    --clr-warning: rgb(99, 36, 36);
  }
  
  *,
  *::before,
  *::after {
    font-family: inherit;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--clr-primary);
    color: var(--clr-light); 
  }

  .container-grid {
    display: grid;
    gap: 1.5rem;  
    grid-template-columns: repeat(4, 1fr);
    
  }       

  .header {
    grid-column: 1 / 5;
  }
  
  .title {
    text-align: center;
    font-size: calc(5vw + 1rem);
    font-weight: 800;
    color: var(--clr-light);
    letter-spacing: 2px;
    margin: 0.3em 0 0.5em;
  }

  form  {
    grid-column: 1 / 5;
    display: flex;
    justify-content: center;
    --spacer: 2rem;
    background: var(--clr-primary);
    color: var(--clr-dark);
  }

  input {
    border-radius: 0.5rem;
    padding: .5rem;
    font-size: 1.2rem;
    margin-right: 15px;
  }

  input:focus {
    outline: 0;
    border-color: var(--clr-light);
    box-shadow: 0 2px 4px 0 #999;
  }
  
  .btn {
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    background-color: var(--clr-light);
  }
  
  button[type="submit"]:hover, button[type="submit"]:focus {
    background-color: lightgrey;
  }

  .display-container {
    grid-column: 2 / 4;
    background: var(--clr-light);
    color: var(--clr-dark);
  }

  .display-header {
    margin: 0;
    padding: 1rem;
    background: #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .display-body {
    padding: 1rem;
    line-height: 2.5rem;
  }

